<!--Home-->
<section class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__sneakers">
            <div class="home__shape"></div>
            <img src=".../../../../../assets/img/jean-home.png" alt="" class="home__img">
        </div>

        <div class="home__data">
            <span class="home__new">New in</span>
            <h1 class="home__title">YEEZY BOOST<br> SPLY - 350</h1>
            <p class="home__description">Explore the new collection of sneakers</p>
            <a href="#" class="button">Explore now</a>
        </div>
    </div>
</section>
<!--FEATURED-->
<app-products-featured (addToCard)="onAddToCart($event)"></app-products-featured>
<!--offer-->
<section class="offer section">
    <div class="offer__container bd-grid">
        <div class="offer__data">
            <h3 class="offer__title">50% OFF</h3>
            <p class="offer__description">In Addidas superstar sneaker</p>
            <a href="#" class="button">Shop now</a>
        </div>
        <img src=".../../../../../assets/img/jean-offert.png" alt="" class="offer__img">
    </div>
</section>
<!--newsletter-->
<section class="newsletter section">
    <div class="newsletter__container bd-grid">
        <div>
            <h3 class="newsletter__title">Subscribe and Get <br> 10% OFF </h3>
            <p href="#" class="newsletter__description">Get 10% discount for all products</p>
        </div>
        <form action="" class="newsletter__subscribe">
            <input type="text" placeholder="@email.com" class="newsletter__input">
            <a href="#" class="button">Subscribe</a>
        </form>
    </div>
</section>